main {
    width: 580px;
    margin: -200px auto 0;
    font-size: 22px;
    height: fit-content;
}


main p {
    margin: 16px 0;
}

@media screen and (max-width: 844px) {
    main {
        margin: 50px 0 120px;
        width: calc(100vw - 64px);
    }

    h2 {
        font-size: 24px;
    }
}