<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connections - About</title>

    <link rel='stylesheet' href='public/styles/global.css'>
    <link rel="stylesheet" href="public/styles/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2>About Us</h2>
        <p>
           This site was built to help students at UNCC meet each other in person.
           We want to create a platform for students to make plans and invite other
           students to join.
        </p>
    </main>

    <%- include('../components/footer') %>
</body>
</html>