<%- include('../components/head') %>
    <link rel="stylesheet" href="public/css/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2>About Us</h2>
        <p>
           This site was built to help students at UNCC meet each other in person.
           We want to create a platform for students to make plans and invite other
           students to join.
        </p>
    </main>

    <%- include('../components/footer') %>
</body>
</html>