<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connections - Contact</title>

    <link rel='stylesheet' href='public/css/global.css'>
    <link rel="stylesheet" href="public/css/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main class="flex">
        <div>
            <h3>Kaleb Dean</h3>
            <a href="mailto:kdean15@uncc.edu">kdean15@uncc.edu</a>
        </div>

        <div>
            <h3>Justin Khuu</h3>
            <a href="mailto:jkhuu@uncc.edu">jkhuu@uncc.edu</a>
        </div>
    </main>

    <%- include('../components/footer') %>
</body>
</html>