<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connections - Error</title>

    <link rel='stylesheet' href='/public/css/global.css'>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2>Error: Page not found</h2>
        <a href="/">Back to homepage</a>
    </main>

    <%- include('../components/footer') %>
</body>
</html>