<%- include('../components/head') %>
    <link rel="stylesheet" href="/public/css/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2>Error: Page not found</h2>
        <a href="/">Back to homepage</a>
    </main>

    <%- include('../components/footer') %>
</body>
</html>