<%- include('../components/head') %>
    <link rel="stylesheet" href="public/css/home.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <h2>Welcome to Campus Connections</h2>
        <p>
           Are you a student at UNCC interested in entreprenuership, cooking, anime, 
           or video games? Are you looking for a study group, gym partners, or
           just want to chill?
        </p>
        <p>Create and attend events to connect with other students!</p>
        <a href="/connection">Browse available Connections</a>
    </main>

    <%- include('../components/footer') %>
</body>
</html>