<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connections - New Connection</title>

    <link rel='stylesheet' href='/public/styles/global.css'>
    <link rel="stylesheet" href="/public/styles/newConnection.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <!--topic, title, host, details, where, when, start, end, image url-->
        <form action="/connection/new" method="post">
            <h2>Create a Connection</h2>

            <label>Title</label>
            <input type="text" placeholder="title" name="title" required>

            <label>Topic</label>
            <input type="text" placeholder="topic" name="topic" required>
            

            <label>Details</label>
            <textarea placeholder="" name="details"></textarea>

            <label>Location</label>
            <input type="text" placeholder="location" name="location">

            <label>Date</label>
            <input type="date" name="date">

            <label>Start</label>
            <input type="time" name="start_time">

            <label>End</label>
            <input type="time" name="end_time">

            <label>Image URL</label>
            <input type="text" placeholder="image url" name="img">

            <div class="messages">
                <% if (locals.errorMessages.length > 0) { %> 
                    <% locals.errorMessages.forEach(err => { %> 
                        <p class="error"><%= err %></p>
                    <% }) %>
                <% } %>
            </div>
            
            <input type="submit" class="button">
        </form>
    </main>

    <%- include('../components/footer') %>
</body>
</html>