<%- include('../components/head') %>
    <link rel="stylesheet" href="/public/css/newConnection.css">
</head>
<body>
    <%- include('../components/header') %>

    <main>
        <!--topic, title, host, details, where, when, start, end, image url-->
        <form action="/connection/new" method="post">
            <h2>Create a Connection</h2>

            <label>Title</label>
            <input type="text" placeholder="title" name="title" required>

            <label>Topic</label>
            <input type="text" placeholder="topic" name="topic" required>
            

            <label>Location</label>
            <input type="text" placeholder="location" name="location">

            <label>Date</label>
            <input type="date" name="date" required>

            <label>Start</label>
            <input type="time" name="start_time" required>

            <label>End</label>
            <input type="time" name="end_time" required>

            <label>Image</label>
            <input type="text" placeholder="image url" name="img">

            <label>Details</label>
            <textarea placeholder="" name="details"></textarea>
            
            <input type="submit" class="button">
        </form>
    </main>

    <%- include('../components/footer') %>
</body>
</html>