<header>
    <link rel="shortcut icon" href="https://www.charlotte.edu/sites/www.charlotte.edu/files/favicon.ico" type="image/vnd.microsoft.icon" />
    <a href="/"><img src='/public/images/logo.png' alt="UNC Charlotte"></a>
    <h1>Campus Connections</h1>
    <nav>
        <% if (locals.isAuthenticated == true) { %>
            <p>Hi <%= locals.username %></p>|
        <% } %>

        <a href="/connection">Browse Connections</a>


        <% if (locals.isAuthenticated == true) { %>
            <a href="/connection/new">Create a Connection</a>
            <a href="/user/profile">Profile</a>
            <a href="/user/logout" class="logout">Logout</a>
        <% } else { %>
            <a href="/user/login">Login</a>
            <a href="/user/register">Sign Up</a>
        <% } %>
    </nav>

    <% if (locals.errorMessages.length > 0) { %> 
    <div class="error">
            <% locals.errorMessages.forEach(err => { %> 
                <p><%= err %></p>
            <% }) %>
        <button onclick="closeError()"><img src="/public/images/close.png"></button>
    </div>
    <% } %>

    <% if (locals.successMessages.length > 0) { %> 
        <div class="success">
                <% locals.successMessages.forEach(success => { %> 
                    <p><%= success %></p>
                <% }) %>
            <button onclick="closeSuccess()"><img src="/public/images/close.png"></button>
        </div>
        <% } %>
</header>
