<tr>
    <td><%= connection.title %></td>
    <td><%= connection.topic %></td>
    <td><div class='flex'>
        <a href="/connection/edit/<%= connection._id %>" class="button">Update</a>
        <a href="/connection/delete/<%= connection._id %>" class="button red">Delete</a>
    </div></td>
</tr>