<header>
    <a href="/"><img src='/public/images/logo.png' alt="UNC Charlotte"></a>
    <h1>Campus Connections</h1>
    <nav>
        <a href="/connection">Browse Connections</a>
        <a href="/">Login</a>
        <a href="/">Sign Up</a>
        <a href="/connection/new">Create a Connection</a>
    </nav>
</header>